@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.body.lock {
  overflow: hidden;
}
@media screen and (max-width: 1080px) {
}
.container {
  max-width: 1480px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.all-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 15.12px;
}
.promo {
  width: 100%;
}
.promo__wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .promo__wrapper {
    flex-direction: column;
  }
}
.promo__text {
  max-width: 856px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 48px;
  box-sizing: border-box;
  background: #92af2a;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 1440px) {
  .promo__text {
    border-radius: 0;
  }
}
@media screen and (max-width: 960px) {
  .promo__text {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .promo__text {
    padding: 60px 20px;
    gap: 18px;
  }
}
.promo__text h1 {
  font-weight: 600;
  font-size: clamp(24px, 2vw, 40px);
  line-height: 40px;
  color: #ffffff;
}
.promo__text h1 br {
  display: none;
}
@media screen and (max-width: 768px) {
  .promo__text h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .promo__text h1 br {
    display: block;
  }
}
.promo__text p {
  max-width: 583px;
  width: 100%;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: clamp(16.8px, 5vw, 24px);
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .promo__text p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.promo__button {
  width: 321px;
  height: 43px;
  background: #ffffff;
  color: #343434;
}
@media screen and (max-width: 768px) {
  .promo__button {
    width: 276px;
    font-size: 14px;
  }
}
.promo__image {
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 1440px) {
  .promo__image {
    border-radius: 0;
  }
}
.promo__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
/*wonderful*/
.wonderful {
  width: 100%;
}
.wonderful__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .wonderful__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
h2 {
  font-weight: 300;
  font-size: clamp(24px, 2vw, 35px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
}
.wonderful__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 40px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .wonderful__grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .wonderful__grid {
    margin-top: 27px;
    gap: 25px;
  }
}
.wonderful__item {
  width: 100%;
  display: flex;
  gap: 39px;
}
@media screen and (max-width: 767px) {
  .wonderful__item {
    flex-direction: column;
    gap: 12px;
  }
  .wonderful__item:nth-child(2) {
    order: 2;
  }
  .wonderful__item:nth-child(4) {
    order: 2;
  }
}
.wonderful__item img {
  width: 83px;
  height: 83px;
}
@media screen and (max-width: 960px) {
  .wonderful__item img {
    width: 54px;
    height: 54px;
  }
}
.wonderful__text {
  max-width: 545px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wonderful__wrapper h3 {
  font-weight: 700;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 25.2px;
  color: #353a3a;
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper h3 {
    font-size: 14px;
    line-height: 19.6px;
  }
}
.wonderful__wrapper p {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 22.4px;
  color: #353a3a;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper p {
    font-size: 12px;
    line-height: 16.8px;
  }
}
/*changes*/
.changes {
  width: 100%;
  background: #f9f9f9;
}
.changes__wrapper {
  padding-top: 86px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .changes__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .changes__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .changes__wrapper h2 {
    letter-spacing: -0.04rem;
  }
}
.changes__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 20px;
  margin-top: 51px;
}
@media screen and (max-width: 1024px) {
  .changes__grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .changes__grid {
    grid-template-columns: 1fr;
    margin-top: 26px;
    gap: 16px;
  }
}
.changes__item {
  width: 100%;
  height: 167px;
  border-radius: 10px;
  padding: 30px 15px 25px 40px;
  box-sizing: border-box;
  background: #96ab50;
}
@media screen and (max-width: 1500px) {
  .changes__item {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .changes__item {
    padding: 24px;
  }
}
.changes__item p {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 25.2px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .changes__item p {
    font-size: 12px;
    line-height: 16.8px;
  }
}
/*transition*/
.transition {
  width: 100%;
}
.transition__wrapper {
  max-width: 1440px;
  width: 100%;
  padding-top: 93px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .transition__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .transition__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.transition__top {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .transition__top {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 960px) {
  .transition__top {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .transition__top {
    gap: 30px;
  }
}
.transition__title {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.transition__title h3 {
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 28px;
  color: #353a3a;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .transition__title h3 {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 10px;
  }
}
.transition__top-btn {
  max-width: 453px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -55px;
  gap: 15px;
}
@media screen and (max-width: 1124px) {
  .transition__top-btn {
    margin-top: -24px;
  }
}
@media screen and (max-width: 960px) {
  .transition__top-btn {
    position: static;
    margin-top: 0;
  }
}
.transition__top-btn img {
  width: 295px;
  height: 193px;
}
.transition__button {
  width: 453px;
  height: 48px;
  background: #6ebe11;
  color: #ffffff;
}
@media screen and (max-width: 1124px) {
  .transition__button {
    width: 350px;
    height: 43px;
    font-size: 14px;
    line-height: 15.12px;
  }
}
.transition__inner {
  width: 100%;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 70px;
  border-radius: 10px;
}
@media screen and (max-width: 1440px) {
  .transition__inner {
    border-radius: 0;
  }
}
@media screen and (max-width: 1130px) {
  .transition__inner {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .transition__inner {
    margin-top: 60px;
  }
}
.transition__inner-text {
  max-width: 643px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 53px auto 60px 83px;
}
@media screen and (max-width: 1275px) {
  .transition__inner-text {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1130px) {
  .transition__inner-text {
    max-width: 100%;
    margin: 60px 0 45px;
  }
}
.transition__inner-text h3 {
  font-weight: 600;
  font-size: clamp(24px, 3vw, 40px);
  line-height: 40px;
  color: #343434;
}
@media screen and (max-width: 1130px) {
  .transition__inner-text h3 {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .transition__inner-text h3 {
    font-size: 24px;
    line-height: 24px;
  }
}
.transition__inner-text h4 {
  font-weight: 600;
  font-size: clamp(14px, 5vw, 20px);
  line-height: clamp(16.8px, 5vw, 24px);
  color: #343434;
  margin-top: 7px;
}
@media screen and (max-width: 1130px) {
  .transition__inner-text h4 {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .transition__inner-text h4 {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.transition__inner-text p {
  font-weight: 400;
  font-size: clamp(12px, 5vw, 16px);
  line-height: clamp(16.8px, 5vw, 22.4px);
  color: #343434;
  margin-top: 27px;
}
@media screen and (max-width: 1130px) {
  .transition__inner-text p {
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .transition__inner-text p {
    font-size: 12px;
    line-height: 16.8px;
    margin-top: 30px;
  }
}
.transition__inner-image {
  width: 599px;
  height: 772px;
  border-radius: 0 10px 10px 0;
}
.transition__inner-image-mobile {
  display: none;
}
@media screen and (max-width: 1130px) {
  .transition__inner-image {
    display: none;
  }
  .transition__inner-image-mobile {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    height: 463px;
  }
}
.transition__how {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
@media screen and (max-width: 1440px) {
  .transition__how {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .transition__how {
    margin-top: 54px;
  }
}
.transition__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  margin-top: 55px;
  gap: 39px;
}
@media screen and (max-width: 1024px) {
  .transition__grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .transition__grid {
    grid-template-columns: 1fr;
    margin-top: 32px;
    gap: 16px;
  }
}
.transition__grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 767px) {
  .transition__grid-item {
    flex-direction: row;
    align-items: center;
  }
}
.transition__grid-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #d6c3c8;
  font-weight: 700;
  font-size: 32px;
  line-height: 39.43px;
  color: #fff;
}
.transition__grid-item h5 {
  font-weight: 700;
  font-size: clamp(14px, 3vw, 20px);
  line-height: 20px;
  color: #353a3a;
}
@media screen and (max-width: 767px) {
  .transition__grid-item h5 {
    font-size: 14px;
    line-height: 14px;
  }
}
/*separator*/
.separator {
  width: 100%;
  background: #f9f9f9;
}
.separator__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 960px) {
  .separator__wrapper {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .separator__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.separator__wrapper h2 {
  max-width: 886px;
  width: 100%;
  letter-spacing: -0.02rem;
}
@media screen and (max-width: 767px) {
  .separator__wrapper h2 {
    letter-spacing: -0.01rem;
    line-height: 25px;
  }
}
.separator__button {
  width: 453px;
  height: 48px;
  background: #6ebe11;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .separator__button {
    width: 350px;
    height: 43px;
  }
}
@media screen and (max-width: 767px) {
  .separator__button {
    font-size: 14px;
    line-height: 15.12px;
  }
}
/*gallery*/
.gallery {
  width: 100%;
}
.gallery__wrapper {
  padding-top: 93px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 73px;
}
@media screen and (max-width: 1024px) {
  .gallery__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
    gap: 33px;
  }
}
.gallery__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: auto auto auto;
  gap: 40px;
}
.gallery__grid .row3 {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
  grid-column: 1 / -1;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .gallery__grid {
    gap: 20px;
  }
  .gallery__grid .row3 {
    gap: 20px;
  }
}
@media screen and (max-width: 960px) {
  .gallery__grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .gallery__grid .row3 {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .gallery__grid {
    gap: 10px;
  }
  .gallery__grid .row3 {
    gap: 10px;
  }
}
.gallery__item {
  width: 100%;
  height: 178px;
  border-radius: 10px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .gallery__item {
    height: 90px;
  }
}
.gallery__item-1 {
  background: #a7d96b;
}
.gallery__item-2 {
  background: #d6c3c8;
}
.gallery__item-3 {
  background: #ddd562;
}
.gallery__item-4 {
  background: #efcd7a;
}
.gallery__item-5 {
  background: #ffa793;
}
.gallery__item-6 {
  background: #fbcc7b;
}
.gallery__item-7 {
  background: #b2d444;
}
.gallery__item-8 {
  background: #c3dab2;
}
.gallery__item-9 {
  background: #ebd258;
}
.gallery__item-10 {
  background: #86dc94;
}
.gallery__item-11 {
  background: #92dbbc;
}
.gallery__item-12 {
  background: #c8c8c8;
}
.gallery__item-13 {
  background: #fe7c75;
}
@media screen and (max-width: 960px) {
  .gallery__grid .row3 .gallery__item {
    width: calc(50% - 10px);
  }
  .gallery__item-13 {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  .gallery__grid .row3 .gallery__item {
    width: calc(50% - 5px);
  }
  .gallery__item-13 {
    height: 56px;
  }
  .gallery__item-13 img {
    width: 84px !important;
    height: 56px !important;
    right: 46px !important;
  }
  .gallery__item-13 br {
    display: none !important;
  }
}
.gallery__item span {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  position: absolute;
  top: 33px;
  left: 30px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .gallery__item span {
    top: 24px;
    left: 12px;
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .gallery__item span {
    top: 18px;
    font-size: 12px;
    line-height: 14px;
  }
}
.gallery__item img {
  width: 168px;
  height: 156px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .gallery__item img {
    width: 80px;
    height: 75px;
  }
}
/*nutrition*/
.nutrition {
  width: 100%;
  background: #f9f9f9;
}
.nutrition__wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
}
@media screen and (max-width: 1100px) {
  .nutrition__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .nutrition__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .nutrition__wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
.nutrition__wrapper img {
  border-radius: 10px;
}
@media screen and (max-width: 1280px) {
  .nutrition__wrapper img {
    width: 600px;
  }
}
@media screen and (max-width: 1100px) {
  .nutrition__wrapper img {
    width: 700px;
  }
}
@media screen and (max-width: 704px) {
  .nutrition__wrapper img {
    width: 100%;
    border-radius: 0;
  }
}
.nutrition__text {
  max-width: 707px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin-left: 40px;
  margin-right: 40px;
}
@media screen and (max-width: 1280px) {
  .nutrition__text {
    gap: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .nutrition__text {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .nutrition__text {
    gap: 35px;
  }
  .nutrition__text h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
.nutrition__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .nutrition__list {
    gap: 14px;
  }
}
.nutrition__list li {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nutrition__list li img {
  width: 38px;
  height: 35.71px;
}
@media screen and (max-width: 1280px) {
  .nutrition__list li img {
    width: 30px;
    height: 28px;
  }
}
.nutrition__list li p {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 18px);
  line-height: 25.2px;
  color: #353a3a;
  letter-spacing: -0.01rem;
}
@media screen and (max-width: 1280px) {
  .nutrition__list li p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1100px) {
  .nutrition__list li p {
    font-size: 18px;
    line-height: 25.2px;
  }
}
@media screen and (max-width: 767px) {
  .nutrition__list li p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
/*tariffs*/
.tariffs {
  width: 100%;
}
.tariffs__wrapper {
  padding-top: 92px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .tariffs__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.tariffs__wrapper h3 {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 24px);
  line-height: 33.6px;
  color: #343434;
  margin-top: 23px;
}
@media screen and (max-width: 767px) {
  .tariffs__wrapper h3 {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 10px;
  }
}
.tariffs__subscription {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.tariffs__subscription h4 {
  font-weight: 400;
  font-size: clamp(14px, 3vw, 24px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 767px) {
  .tariffs__subscription h4 {
    font-size: 14px;
  }
  .tariffs__subscription {
    margin-top: 24px;
  }
}
.tariffs__subscription-list {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 22px;
}
.tariffs__subscription-list li {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 24px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 767px) {
  .tariffs__subscription-list li {
    font-size: 12px;
    line-height: 12px;
  }
  .tariffs__subscription-list {
    margin-left: 15px;
    margin-top: 5px;
    gap: 12px;
  }
}
.tariffs__list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 60px;
}
@media screen and (max-width: 1023px) {
  .tariffs__list {
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__list {
    margin-top: 39px;
    gap: 33px;
  }
}
.tariffs__list-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .tariffs__list-item {
    gap: 23px;
  }
}
.tariffs__list-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .tariffs__list-top {
    gap: 16px;
  }
}
.tariffs__list-top span {
  width: 83px;
  height: 83px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 39.43px;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .tariffs__list-top span {
    font-size: 32px;
    width: 54px;
    height: 54px;
    border-radius: 6px;
  }
}
.tariffs__1 {
  background: #c2d6ff;
}
.tariffs__2 {
  background: #9eebab;
}
.tariffs__3 {
  background: #f5df8c;
}
.tariffs__list-top-text {
  display: flex;
  flex-direction: column;
}
.tariffs__list-top-text h3 {
  font-weight: 400;
  font-size: clamp(14px, 3vw, 24px);
  line-height: 39.43px;
  color: #343434;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .tariffs__list-top-text h3 {
    font-size: 14px;
    line-height: 26px;
  }
}
.tariffs__list-top-text p {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 20px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 1024px) {
  .tariffs__list-top-text p {
    max-width: 600px;
    width: 100%;
    line-height: 29px;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__list-top-text p {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.04rem;
    max-width: 270px;
  }
}
.tariffs__list-bottom {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom {
    flex-direction: row;
  }
}
.tariffs__list-bottom-text {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #eaf1ff;
  padding-left: 103px;
  box-sizing: border-box;
}
.bottom-text-2 {
  background: #cdffd5;
}
.bottom-text-3 {
  background: #ffefb0;
}
@media screen and (max-width: 1200px) {
  .tariffs__list-bottom-text {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-text {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-start;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.tariffs__list-bottom-text h4 {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 20px);
  line-height: 39.43px;
  color: #343434;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-text h4 {
    font-size: 12px;
    line-height: 33px;
  }
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-text h4:not(:last-child) {
    border-bottom: 1px solid #ffffff;
  }
}
.tariffs__list-bottom-text h4:first-child {
  width: 317px;
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-text h4:first-child {
    width: 170px;
  }
}
.tariffs__list-bottom-text h4:not(:first-child) {
  width: 247px;
  padding-left: 72px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .tariffs__list-bottom-text h4:not(:first-child) {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-text h4:not(:first-child) {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-text h4:not(:first-child) {
    width: 170px;
  }
}
.tariffs__list-bottom-price {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 103px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .tariffs__list-bottom-price {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-price {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-end;
    background: #f9f9f9;
    text-align: end;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.tariffs__list-bottom-price h4:first-child {
  width: 317px;
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-price h4:first-child {
    width: 116px;
  }
}
.tariffs__list-bottom-price h4:not(:first-child) {
  width: 247px;
  padding-left: 72px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .tariffs__list-bottom-price h4:not(:first-child) {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-price h4:not(:first-child) {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-price h4:not(:first-child) {
    width: 116px;
  }
}
.tariffs__list-bottom-price h4 {
  font-weight: 300;
  font-size: clamp(14px, 3vw, 18px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 1023px) {
  .tariffs__list-bottom-price h4 {
    border-bottom: 1px solid #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .tariffs__list-bottom-price h4 {
    font-size: 12px;
    line-height: 33px;
  }
}
.item-1 {
  border-bottom: 1px solid #c2d6ff;
}
.item-2 {
  border-bottom: 1px solid #9eebab;
}
.item-3 {
  border-bottom: 1px solid #f5df8c;
}
@media screen and (max-width: 1023px) {
  .item-1,
  .item-2,
  .item-3 {
    border-bottom: none;
  }
}
.tariffs__button {
  width: 453px;
  height: 48px;
  background: #6ebe11;
  color: #fff;
  margin: 57px auto 0;
}
@media screen and (max-width: 767px) {
  .tariffs__button {
    width: 350px;
    height: 43px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 15.12px;
    margin-top: 35px;
  }
}
/*examples*/
.examples {
  width: 100%;
  background: #f9f9f9;
}
.examples__wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .examples__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .examples__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
.examples__wrapper h3 {
  max-width: 1310px;
  width: 100%;
  font-weight: 300;
  font-size: clamp(14px, 3vw, 24px);
  line-height: 33.6px;
  color: #343434;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .examples__wrapper h3 {
    font-size: 14px;
    line-height: 19.6px;
    margin-top: 10px;
  }
}
