@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.body.lock {
  overflow: hidden;
}
@media screen and (max-width: 1080px) {
}
.container {
  max-width: 1520px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.all-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 15.12px;
}
.promo {
  width: 100%;
}
.promo__wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .promo__wrapper {
    flex-direction: column;
  }
}
.promo__text {
  max-width: 856px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 48px;
  box-sizing: border-box;
  background: #92af2a;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 1440px) {
  .promo__text {
    border-radius: 0;
  }
}
@media screen and (max-width: 960px) {
  .promo__text {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .promo__text {
    padding: 60px 20px;
    gap: 18px;
  }
}
.promo__text h1 {
  font-weight: 600;
  font-size: clamp(24px, 2vw, 40px);
  line-height: 40px;
  color: #ffffff;
}
.promo__text h1 br {
  display: none;
}
@media screen and (max-width: 768px) {
  .promo__text h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .promo__text h1 br {
    display: block;
  }
}
.promo__text p {
  max-width: 583px;
  width: 100%;
  font-weight: 400;
  font-size: clamp(14px, 2.5vw, 20px);
  line-height: clamp(16.8px, 5vw, 24px);
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .promo__text p {
    font-size: 14px;
    line-height: 16.8px;
  }
}
.promo__button {
  width: 321px;
  height: 43px;
  background: #ffffff;
  color: #343434;
}
@media screen and (max-width: 768px) {
  .promo__button {
    width: 276px;
    font-size: 14px;
  }
}
.promo__image {
  border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 1440px) {
  .promo__image {
    border-radius: 0;
  }
}
.promo__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
/*wonderful*/
.wonderful {
  width: 100%;
}
.wonderful__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .wonderful__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
h2 {
  font-weight: 300;
  font-size: clamp(24px, 2vw, 35px);
  line-height: 39.43px;
  color: #343434;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 24px;
    letter-spacing: -0.04rem;
  }
}
.wonderful__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 40px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .wonderful__grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .wonderful__grid {
    margin-top: 27px;
    gap: 25px;
  }
}
.wonderful__item {
  width: 100%;
  display: flex;
  gap: 39px;
}
@media screen and (max-width: 767px) {
  .wonderful__item {
    flex-direction: column;
    gap: 12px;
  }
  .wonderful__item:nth-child(2) {
    order: 2;
  }
  .wonderful__item:nth-child(4) {
    order: 2;
  }
}
.wonderful__item img {
  width: 83px;
  height: 83px;
}
@media screen and (max-width: 960px) {
  .wonderful__item img {
    width: 54px;
    height: 54px;
  }
}
.wonderful__text {
  max-width: 545px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wonderful__wrapper h3 {
  font-weight: 700;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 25.2px;
  color: #353a3a;
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper h3 {
    font-size: 14px;
    line-height: 19.6px;
  }
}
.wonderful__wrapper p {
  font-weight: 300;
  font-size: clamp(12px, 2vw, 16px);
  line-height: 22.4px;
  color: #353a3a;
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .wonderful__wrapper p {
    font-size: 12px;
    line-height: 16.8px;
  }
}
/*changes*/
.changes {
  width: 100%;
  background: #f9f9f9;
}
.changes__wrapper {
  padding-top: 86px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .changes__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .changes__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.changes__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 20px;
  margin-top: 51px;
}
@media screen and (max-width: 1024px) {
  .changes__grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media screen and (max-width: 768px) {
  .changes__grid {
    grid-template-columns: 1fr;
    margin-top: 26px;
    gap: 16px;
  }
}
.changes__item {
  width: 100%;
  height: 167px;
  border-radius: 10px;
  padding: 30px 15px 25px 40px;
  box-sizing: border-box;
  background: #96ab50;
}
@media screen and (max-width: 1500px) {
  .changes__item {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .changes__item {
    padding: 24px;
  }
}
.changes__item p {
  font-weight: 500;
  font-size: clamp(12px, 2vw, 18px);
  line-height: 25.2px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .changes__item p {
    font-size: 12px;
    line-height: 16.8px;
  }
}
/*transition*/
.transition {
  width: 100%;
}
.transition__wrapper {
  padding-top: 93px;
  padding-bottom: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .transition__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 767px) {
  .transition__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
.transition__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.transition__title {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.transition__title h3 {
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 28px;
  color: #353a3a;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .transition__title h3 {
    font-size: 14px;
    line-height: 19.6px;
  }
}
.transition__top-btn {
  width: 453px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: -55px;
  gap: 15px;
}
@media screen and (max-width: 1124px) {
  .transition__top-btn {
    margin-top: -24px;
  }
}
.transition__top-btn img {
  width: 295px;
  height: 193px;
}
.transition__button {
  width: 453px;
  height: 48px;
  background: #6ebe11;
  color: #ffffff;
}
@media screen and (max-width: 1124px) {
  .transition__button {
    width: 350px;
    height: 43px;
    font-size: 14px;
    line-height: 15.12px;
  }
}
